<section class="admin-container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Falcnju Admin</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/login']">Logout</a>
                </li>
                <!--  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Action 1</a>
                        <a class="dropdown-item" href="#">Action 2</a>
                    </div>
                </li> -->
            </ul>

        </div>
    </nav>

</section>

<!-- <div class="container-cards container mt-5">
    <div class="card text-start" *ngFor="let country of countries">
        <img class="card-img-top" [src]="country.flags.svg" alt="Title">
        <div class="card-body">
            <h4 class="card-title">{{country.name.common}}</h4>
            <p class="card-text">{{country.name.official}}</p>
        </div>
    </div>
</div> -->

<div *ngIf="_loaderService.showLoader | async" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<form class="container" [formGroup]="skillsForm" (ngSubmit)="submit()">
    <div class="mb-3">
        <div>
            <label for="" class="form-label">Skills</label>
            <input type="text" class="form-control" formControlName="inputNameSkill" placeholder="">

        </div>
        <button type="button" class="btn btn-primary" (click)="add()">ADD</button>
    </div>
    <div>
        <ul class="list-group">

            <li formArrayName="skills" *ngFor="let item of skills.controls;let i=index" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div [formGroupName]="i" style="width: 100%;display: grid;grid-template-columns: 90% auto">
                    <div>
                        <label for="" class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="">
                    </div>
                    <div style="display: flex;justify-content: center;align-items: center;margin-top: 30px;">
                        <button type="button" class="btn btn-danger btn-sm" (click)="delete(i)">DELETE</button>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <button type="submit">TOTAL INFO</button>
</form>